asgiref==3.8.1
asttokens==3.0.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
comm==0.2.2
cryptography==45.0.4
debugpy==1.8.14
decorator==5.2.1
Django==4.2.23
django-allauth==65.9.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
executing==2.2.0
git-filter-repo==2.47.0
gunicorn==20.1.0
idna==3.10
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.8.1
jwt==1.4.0
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
oauthlib==3.3.1
packaging==25.0
parso==0.8.4
pillow==10.4.0
platformdirs==4.3.8
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg2-binary==2.9.10
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.0
pywin32==310
pyzmq==27.0.0
requests==2.32.4
requests-oauthlib==2.0.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
tornado==6.5.1
traitlets==5.14.3
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.13